#root {
  margin: 0 auto;
  text-align: center;
}

.hoverable-row:hover td {
  background-color: #f1f1f1; /* Light gray background on hover */
  cursor: pointer; /* Pointer cursor to indicate interactivity */
  transition: background-color 0.3s ease; /* Smooth transition */
  text-decoration: underline;
  color: #0d6efd !important;
}

.nav-link {
  display: flex;
  align-items: center; /* This ensures icons and text are vertically centered */
  color: #555;
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Make the text color of the active nav-link white */
.nav-link.active {
  background-color: #e7f3ff; /* Very light blue background */
  color: #007bff !important; /* White text for active nav-link */
  border: 2px solid white;
  border-radius: 5px;
}

/* Optional: Add hover effect for better UI */
.nav-item:hover {
  background-color: #e7f3ff; /* Very light blue background */
  color: #007bff !important;
  border-radius: 5px;
}

/* Login Button */
.login-btn {
  background-color: #d4f8d4; /* Green for Login */
  color: #226622 !important;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: #d4f8d4;
  color: #226622 !important;
}

/* Logout Button */
.logout-btn {
  background-color: #fad4d4; /* Red for Logout */
  color: #882222 !important;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: #fad4d4;
  color: #882222 !important;
}

.home-cards .card-title,
.card-text,
.icon-container {
  color: #555;
}

.about-page section h2,
p,
.card-icon {
  color: #555 !important;
}
